{% set title = "Директор по маркетингу" %}

{% extends "layouts/_default.html" %}

{% block content %}

<!-- Top-page -->
<div class="top-page">
    <div class="top-page__decor"></div>
    <div class="top-page__body container">
        <div class="top-page__breadcrumbs">

        </div>
        <div class="top-page__inner">
            <div class="top-page__info">
                <h1 class="top-page__heading title title--huge title--white title--w-extra-bold">
                    Директор по маркетингу
                    на аутсорсе
                </h1>
                <div class="top-page__subtitle title title--big-medium title--white title--w-regular">
                    Выстроим маркетинговую систему для роста
                    выручки на <span class="top-page__accent-subtitle title title--pink">30-100% за 6-12 месяцев</span>
                </div>
                <ul class="top-page__list title title--tiny title--white title--w-light">
                    <li class="top-page__item-list">
                        <img class="top-page__icon" src="./img/top-page/top-page-1.svg" alt="">
                        Увеличим эффективность рекламных бюджетов на 30-50%
                    </li>
                    <li class="top-page__item-list">
                        <img class="top-page__icon" src="./img/top-page/top-page-2.svg" alt="">
                        Оцифруем все показатели маркетинга и продаж  для полного контроля над бизнесом
                    </li>
                    <li class="top-page__item-list">
                        <img class="top-page__icon" src="./img/top-page/top-page-3.svg" alt="">
                        Предоставим готовую команду  специалистов по маркетингу или усилим вашу
                    </li>
                </ul>
                <div class="top-page__action">
                    <a href="javascript:;" class="top-page__button button button--icon" data-stc-modal="#feedback-stc">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23 12C23 18.0751 18.0751 23 12 23C10.2804 23 2 23 2 23C2 23 2 23 4.59717 20.1363C2.38713 18.1244 1 15.2242 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13 14H9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16 10H9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Записаться на экскурсию в наш отдел маркетинга
                    </a>
                    <div class="top-page__author">
                        <div class="top-page__author-name text text--normal text--white text--w-light">
                            Дмитрий Шестаков
                        </div>
                        <div class="top-page__author-position text text--normal text--white text--w-bold text--uppercase">
                            Управляющий партнёр
                            <span class="top-page__author-agency text text--w-semi-bold">
                            digital-agency «Сайткрафт»
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-page__director">
                <img src="./img/upload/dmitry.png" alt="" class="top-page__photo">
            </div>
        </div>
    </div>
</div>
<!-- ./ Top-page -->

<!-- Situation -->
<section class="situation bg--milk b-padding-100">
    <div class="situation__body container">
        <h3 class="situation__heading title title--big title--dark title--w-extra-bold title--indent">
            Скажите честно,
            <br>
            <span class="situation__heading-accent title title--purple">
                эти ситуации Вам знакомы?
            </span>
        </h3>
        <div class="situation__items">
            <div class="situation__item">
                <div class="situation__icon">
                    <img src="./img/situation/icon-1.svg" alt="" class="situation__img">
                </div>
                <div class="situation__text title title--big-medium title--dark title--w-bold">
                    Мало лидов и продаж, рекламный бюджет регулярно сливается
                </div>
            </div>
            <div class="situation__item">
                <div class="situation__icon">
                    <img src="./img/situation/icon-2.svg" alt="" class="situation__img">
                </div>
                <div class="situation__text title title--big-medium title--dark title--w-bold">
                    Собственник вынужден контролировать всех подрядчиков, иначе не будет результата
                </div>
            </div>
            <div class="situation__item">
                <div class="situation__icon">
                    <img src="./img/situation/icon-3.svg" alt="" class="situation__img">
                </div>
                <div class="situation__text title title--big-medium title--dark title--w-bold">
                    Над вашим проектом работают несколько вроде бы неплохих специалистов, но результата как будто нет
                </div>
            </div>
            <div class="situation__item">
                <div class="situation__icon">
                    <img src="./img/situation/icon-4.svg" alt="" class="situation__img">
                </div>
                <div class="situation__text title title--big-medium title--dark title--w-bold">
                    Нет единого центра принятия решений по маркетингу
                </div>
            </div>
            <div class="situation__item">
                <div class="situation__icon">
                    <img src="./img/situation/icon-5.svg" alt="" class="situation__img">
                </div>
                <div class="situation__text title title--big-medium title--dark title--w-bold">
                    Вы знаете, что конкуренты продают лучше
                </div>
            </div>
        </div>
        <div class="situation__result title title--large title--dark title--w-extra-bold">
            <span class="situation__result-accent title title--large title--purple">
                Как итог:
            </span>
             Вы занимаетесь операционкой, а на амбициозные цели нет времени и прибыль компании не растет
        </div>
    </div>
</section>
<!-- ./ Situation -->

<!-- Quote -->
<section class="quote b-padding-100 bg--dark">
    <div class="quote__wrap-decor">
        <div class="quote__decor"></div>
    </div>
    <div class="quote__body container">
        <div class="quote__inner">
            <h3 class="quote__title title title--white title--w-extra-bold title--indent">
                Директор по маркетингу поможет понять за какие рычаги нужно дернуть, чтобы росло количество обращений в компанию, средний чек, лояльность клиентов и выручка.
            </h3>
            <div class="quote__author bg--dark">
                <div class="quote__author-name title title--white title--w-bold title--uppercase">
                    Дмитрий Шестаков
                </div>
                <div class="quote__author-position title title--white title--w-light">
                    основатель маркетингового агентсва «СайтКрафт»
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ Quote -->

<!-- Job -->
<section class="job bg--milk b-padding-100">
    <div class="job__body container">
        <h2 class="job__heading title title--big title--dark title--w-extra-bold title--indent">
            Чем именно занимается
            <span class="job__accent-heading title title--purple">директор по маркетингу</span>
        </h2>
        <div class="job__items">
            <div class="job__item">
                <div class="job__info">
                    <h3 class="job__title title title--pre-large title--dark title--w-semi-bold" data-num="01">
                        Маркетинговые исследования рынка, продукта, аудиторий и конкурентов
                    </h3>
                    <div class="job__description text text--large text--dark text--w-regular">
                        Система маркетинга опирается на знания о продукте, целевой аудитории и конкурентах. А решения принимаются на основе фактов и цифр.
                    </div>
                    <div class="job__description text text--large text--dark text--w-regular">
                        Наши исследования покажут:
                    </div>
                    <ul class="job__list text text--large text--dark text--w-regular">
                        <li class="job__item-list">
                            почему клиенты покупают;
                        </li>
                        <li class="job__item-list">
                            какой путь они проходят при принятии решении о покупке;
                        </li>
                        <li class="job__item-list">
                            как поднять средний чек при покупке;
                        </li>
                        <li class="job__item-list">
                            как нужно изменить продукт и сервис, чтобы привлекать и удерживать покупателей.
                        </li>
                    </ul>
                </div>
                <div class="job__pic">
                    <img src="./img/job/job-1.png" alt="" class="job__img">
                </div>
            </div>
            <div class="job__item job__item--revert">
                <div class="job__info">
                    <h3 class="job__title title title--pre-large title--dark title--w-semi-bold" data-num="02">
                        Директор по маркетингу + команда реализации - все в одном флаконе
                    </h3>
                    <div class="job__description text text--large text--dark text--w-regular">
                        95% рынка агентств и фрилансеров занимаются
                        «кусочным маркетингом» - одни занимаются трафиком, другие
                        веб-разработкой, третьи настраивают CRM-системы.
                    </div>
                    <div class="job__description text text--large text--dark text--w-regular">
                        И вроде задачи все делаются - а результаты оставляют желать лучшего.
                    </div>
                    <div class="job__description text text--large text--dark text--w-regular">
                        Причина в отсутствии единого центра управления всеми
                        digital-коммуникациями. Таким человеком является Директор по маркетингу.
                    </div>
                </div>
                <div class="job__pic">
                    <img src="./img/job/job-2.png" alt="" class="job__img">
                </div>
            </div>
            <div class="job__item">
                <div class="job__info">
                    <h3 class="job__title title title--pre-large title--dark title--w-semi-bold" data-num="03">
                        Работа на всех этапах воронки продаж
                    </h3>
                    <div class="job__description text text--large text--purple text--w-medium">
                        Привлечение > Конвертация > Удержание > Возврат клиентов
                    </div>
                    <div class="job__description text text--large text--dark text--w-regular">
                        Можно успешно привлекать новых клиентов. Но без отсроенной системы их конвертации в продажи результаты сойдут на нет.
                    </div>
                    <div class="job__description text text--large text--dark text--w-regular">
                        Удержание и возврат клиентов обходится гораздо дешевле, чем привлечение новых.
                    </div>
                    <div class="job__description text text--large text--dark text--w-regular">
                        Без комплексного подхода ваш бизнес теряет деньги.
                    </div>
                    <div class="job__description text text--large text--dark text--w-regular">
                        Мы работаем на всех участках воронки продаж. Это обеспечивает хорошие и стабильные результаты продаж.
                    </div>
                </div>
                <div class="job__pic">
                    <img src="./img/job/job-3.png" alt="" class="job__img">
                </div>
            </div>
            <div class="job__item job__item--revert">
                <div class="job__info">
                    <h3 class="job__title title title--pre-large title--dark title--w-semi-bold" data-num="04">
                        Выстраивание аналитики от кликов до продаж
                    </h3>
                    <div class="job__description text text--large text--dark text--w-regular">
                        Сегодня каждый рекламный рубль на вес золота, а вероятность «слить» маркетинговый бюджет очень высока.
                    </div>
                    <div class="job__description text text--large text--dark text--w-regular">
                        Поэтому важно хорошо понимать какие каналы приносят прибыль, а какие нет. Отстроенная аналитика - это вопрос выживаемости.
                    </div>
                    <div class="job__description text text--large text--dark text--w-regular">
                        Только обладая данными, Вы оперативно выключите те каналы, которые никак не работают и отмасштабируете рабочие связки.
                    </div>
                </div>
                <div class="job__pic">
                    <img src="./img/job/job-4.png" alt="" class="job__img">
                </div>
            </div>
            <div class="job__item">
                <div class="job__info">
                    <h3 class="job__title title title--pre-large title--dark title--w-semi-bold" data-num="05">
                        Непрерывное улучшение результатов через аналитику и оптимизацию
                    </h3>
                    <div class="job__description text text--large text--dark text--w-regular">
                        Оцифрованный маркетинг в режиме реального времени покажет слабые места в маркетинговой воронке.
                    </div>
                    <div class="job__description text text--large text--dark text--w-regular">
                        На основе полученных данных мы непрырвно улучшаем маркетинговую машину, уменьшая стоимость привлечения клиентов.
                    </div>
                    <div class="job__description text text--large text--dark text--w-regular">
                        Рекламные действия с проверенной эффективностью - масштабируем. Слабые компоненты системы - дорабатываем.
                    </div>
                </div>
                <div class="job__pic">
                    <img src="./img/job/job-5.png" alt="" class="job__img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ Job -->

<!-- Quote -->
<section class="quote b-padding-100 bg--dark">
    <div class="quote__wrap-decor">
        <div class="quote__qt">“</div>
    </div>
    <div class="quote__body container">
        <div class="quote__inner">
            <h3 class="quote__title title title--white title--w-extra-bold title--indent">
                Директор по маркетингу - это эксперт, который снимает всю головную боль маркетинговой операционки с собственника и создает систему, где вкладывая Х рублей, бизнес получает 30-100% прироста выручки в год
            </h3>
            <div class="quote__author bg--dark">
                <div class="quote__author-name title title--white title--w-bold title--uppercase">
                    Татьяна Мурзина
                </div>
                <div class="quote__author-position title title--white title--w-light">
                    Стратег, интернет-маркетолог маркетингового агентства «Сайткрафт»
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ Quote -->

<!-- Trust -->
<section class="trust bg--milk">
    <div class="trust__body container">
        <h3 class="trust__heading title title--big title--dark title--w-extra-bold title--indent">
            Нам <span class="trust__heading-accent title title--purple">доверяют</span>
        </h3>
        <div class="trust__items">
            <div class="trust__item">
                <img src="./img/trust/ariel.png" alt="" class="trust__logo">
            </div>
            <div class="trust__item">
                <img src="./img/trust/avtodor.png" alt="" class="trust__logo">
            </div>
            <div class="trust__item">
                <img src="./img/trust/profil-arma.png" alt="" class="trust__logo">
            </div>
            <div class="trust__item">
                <img src="./img/trust/rusgazkrio.png" alt="" class="trust__logo">
            </div>
            <div class="trust__item">
                <img src="./img/trust/ajurstal.png" alt="" class="trust__logo">
            </div>
            <div class="trust__item">
                <img src="./img/trust/inoks.png" alt="" class="trust__logo">
            </div>
            <div class="trust__item">
                <img src="./img/trust/chelmet.svg" alt="" class="trust__logo">
            </div>
            <div class="trust__item">
                <img src="./img/trust/soyz.png" alt="" class="trust__logo">
            </div>
            <div class="trust__item">
                <img src="./img/trust/stalmaksimum.svg" alt="" class="trust__logo">
            </div>
            <div class="trust__item">
                <img src="./img/trust/emetall.png" alt="" class="trust__logo">
            </div>
            <div class="trust__item">
                <img src="./img/trust/ar.svg" alt="" class="trust__logo">
            </div>
            <div class="trust__item">
                <img src="./img/trust/era.png" alt="" class="trust__logo">
            </div>
            <div class="trust__item">
                <img src="./img/trust/goodwork.png" alt="" class="trust__logo">
            </div>
            <div class="trust__item">
                <img src="./img/trust/wedeliver.svg" alt="" class="trust__logo">
            </div>
            <div class="trust__item">
                <img src="./img/trust/zspa.svg" alt="" class="trust__logo">
            </div>
            <div class="trust__item">
                <img src="./img/trust/taritur.png" alt="" class="trust__logo">
            </div>
        </div>
    </div>
</section>
<!-- /. Trust -->

{% endblock %}