{% set title = "Новые блоки" %}

{% extends "layouts/_default.html" %}

{% block content %}

<!-- Search-promotion -->
<section class="search-promotion bg-dark b-padding-100">
    <div class="search-promotion__body container">
        <h2 class="search-promotion__heading title title--big title--white title--w-extra-bold title--indent" data-num="+">
            Кому <span class="search-promotion__heading-accent title title--purple">подходит</span> поисковое продвижение
        </h2>
        <div class="search-promotion__items">
            <div class="search-promotion__item">
                <div class="search-promotion__info">
                    <h3 class="search-promotion__title title title--pre-large title--white title--w-semi-bold">
                        Интернет-магазинам
                    </h3>
                    <div class="search-promotion__text title title--big-medium title--white title--w-light">
                        SEO продвижение сайтов в этом случае выгоднее, чем таргетированная/контекстная реклама, поскольку раскручивать по отдельности каждую категорию дорого. Поисковая оптимизация позволяет вывести в топ выдачи весь каталог интернет-магазина, и бюджет при этом расходуется экономнее
                    </div>
                </div>
            </div>
            <div class="search-promotion__item">
                <div class="search-promotion__info">
                    <h3 class="search-promotion__title title title--pre-large title--white title--w-semi-bold">
                        Агрегаторам
                    </h3>
                    <div class="search-promotion__text title title--big-medium title--white title--w-light">
                        Этот тип ресурсов любим поисковыми системами за свою полезность для юзеров. Каждый посетитель сайта-агрегатора изучает собранные предложения, что помогает естественным путем улучшать поведенческие факторы ранжирования
                    </div>
                </div>
            </div>
            <div class="search-promotion__item">
                <div class="search-promotion__info">
                    <h3 class="search-promotion__title title title--pre-large title--white title--w-semi-bold">
                        Новостным сайтам
                    </h3>
                    <div class="search-promotion__text title title--big-medium title--white title--w-light">
                        Суть стратегии продвижения новостных порталов — в частом обновлении контента. У таких ресурсов поисковые роботы индексируют новые страницы в течение нескольких минут
                    </div>
                </div>
            </div>
            <div class="search-promotion__item">
                <div class="search-promotion__info">
                    <h3 class="search-promotion__title title title--pre-large title--white title--w-semi-bold">
                        Блогам
                    </h3>
                    <div class="search-promotion__text title title--big-medium title--white title--w-light">
                        Экспертные ресурсы вызывают доверие пользователей, что облегчает работу с поведенческими факторами. А крупная библиотека статей поможет быстрее оказаться в топе выдачи
                    </div>
                </div>
            </div>
        </div>
        <h2 class="search-promotion__heading search-promotion__heading--bottom title title--big title--white title--w-extra-bold title--indent" data-num="–">
            SEO продвижение <span class="search-promotion__heading-accent title title--purple">НЕ подойдет</span> сайтам
        </h2>
        <div class="search-promotion__bottom-items">
            <div class="search-promotion__fit">
                <div class="search-promotion__title-fit title title--big-medium title--white title--w-semi-bold">
                    Лендингам и малостраничным ресурсам
                </div>
                <div class="search-promotion__text-fit title title--big-medium title--white title--w-light">
                    из-за небольшого количества контента
                </div>
            </div>
            <div class="search-promotion__fit">
                <div class="search-promotion__title-fit title title--big-medium title--white title--w-semi-bold">
                    Сезонному бизнесу
                </div>
                <div class="search-promotion__text-fit title title--big-medium title--white title--w-light">
                    раскрутка вне сезона может принести убытки
                </div>
            </div>
            <div class="search-promotion__fit">
                <div class="search-promotion__title-fit title title--big-medium title--white title--w-semi-bold">
                    Акционным предложениям
                </div>
                <div class="search-promotion__text-fit title title--big-medium title--white title--w-light">
                    работа с SEO отличается долгосрочностью, а акции ограничены по времени
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ Search-promotion -->

<!-- Table-cost -->
<section class="table-cost bg--dark b-padding-100">
    <div class="table-cost__body container">
        <h3 class="table-cost__heading title title--big title--white title--w-semi-bold title--indent">
            Цена SEO продвижения
        </h3>
        <div class="table-cost__subtitle title title--pre-large title--white title--w-semi-bold title--indent">
            Точная сумма продвижения будет <span class="title title--purple">индивидуальна для каждого сайта</span>.
            Она сильно зависит от
            конкуренции в
            нише и региона продвижения
        </div>
        <div class="table-cost__table">
            <div class="table-cost__row">
                <div class="table-cost__text title title--pre-large title--white title--w-medium">
                    Проведение технического и usability аудита
                </div>
                <div class="table-cost__check">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 42.0009C-3.75 41.1009 -3.75 0.900916 24 0.000915527C51.75 0.900916 51.75 41.1009 24 42.0009ZM24 3.00092C0.150001 3.75092 0.150001 38.2509 24 39.0009C47.85 38.2509 47.85 3.75092 24 3.00092ZM35.55 14.8509L21 29.4009C20.4 30.0009 19.5 30.0009 18.9 29.4009L12.45 22.9509C11.1 21.6009 13.2 19.5009 14.55 20.8509L19.95 26.2509L33.45 12.7509C34.8 11.2509 36.9 13.5009 35.55 14.8509Z" fill="#6430E8"/>
                    </svg>
                </div>
            </div>
            <div class="table-cost__row">
                <div class="table-cost__text title title--pre-large title--white title--w-medium">
                    Настройка систем статистики
                </div>
                <div class="table-cost__check">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 42.0009C-3.75 41.1009 -3.75 0.900916 24 0.000915527C51.75 0.900916 51.75 41.1009 24 42.0009ZM24 3.00092C0.150001 3.75092 0.150001 38.2509 24 39.0009C47.85 38.2509 47.85 3.75092 24 3.00092ZM35.55 14.8509L21 29.4009C20.4 30.0009 19.5 30.0009 18.9 29.4009L12.45 22.9509C11.1 21.6009 13.2 19.5009 14.55 20.8509L19.95 26.2509L33.45 12.7509C34.8 11.2509 36.9 13.5009 35.55 14.8509Z" fill="#6430E8"/>
                    </svg>
                </div>
            </div>
            <div class="table-cost__row">
                <div class="table-cost__text title title--pre-large title--white title--w-medium">
                    Сбор семантического ядра
                </div>
                <div class="table-cost__check">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 42.0009C-3.75 41.1009 -3.75 0.900916 24 0.000915527C51.75 0.900916 51.75 41.1009 24 42.0009ZM24 3.00092C0.150001 3.75092 0.150001 38.2509 24 39.0009C47.85 38.2509 47.85 3.75092 24 3.00092ZM35.55 14.8509L21 29.4009C20.4 30.0009 19.5 30.0009 18.9 29.4009L12.45 22.9509C11.1 21.6009 13.2 19.5009 14.55 20.8509L19.95 26.2509L33.45 12.7509C34.8 11.2509 36.9 13.5009 35.55 14.8509Z" fill="#6430E8"/>
                    </svg>
                </div>
            </div>
            <div class="table-cost__row">
                <div class="table-cost__text title title--pre-large title--white title--w-medium">
                    Изучение ниши и анализ конкурентов
                </div>
                <div class="table-cost__check">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 42.0009C-3.75 41.1009 -3.75 0.900916 24 0.000915527C51.75 0.900916 51.75 41.1009 24 42.0009ZM24 3.00092C0.150001 3.75092 0.150001 38.2509 24 39.0009C47.85 38.2509 47.85 3.75092 24 3.00092ZM35.55 14.8509L21 29.4009C20.4 30.0009 19.5 30.0009 18.9 29.4009L12.45 22.9509C11.1 21.6009 13.2 19.5009 14.55 20.8509L19.95 26.2509L33.45 12.7509C34.8 11.2509 36.9 13.5009 35.55 14.8509Z" fill="#6430E8"/>
                    </svg>
                </div>
            </div>
            <div class="table-cost__row">
                <div class="table-cost__text title title--pre-large title--white title--w-medium">
                    Написание текстов
                </div>
                <div class="table-cost__check">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 42.0009C-3.75 41.1009 -3.75 0.900916 24 0.000915527C51.75 0.900916 51.75 41.1009 24 42.0009ZM24 3.00092C0.150001 3.75092 0.150001 38.2509 24 39.0009C47.85 38.2509 47.85 3.75092 24 3.00092ZM35.55 14.8509L21 29.4009C20.4 30.0009 19.5 30.0009 18.9 29.4009L12.45 22.9509C11.1 21.6009 13.2 19.5009 14.55 20.8509L19.95 26.2509L33.45 12.7509C34.8 11.2509 36.9 13.5009 35.55 14.8509Z" fill="#6430E8"/>
                    </svg>
                </div>
            </div>
            <div class="table-cost__row">
                <div class="table-cost__text title title--pre-large title--white title--w-medium">
                    Прототипирование и работа дизайнера
                </div>
                <div class="table-cost__check">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 42.0009C-3.75 41.1009 -3.75 0.900916 24 0.000915527C51.75 0.900916 51.75 41.1009 24 42.0009ZM24 3.00092C0.150001 3.75092 0.150001 38.2509 24 39.0009C47.85 38.2509 47.85 3.75092 24 3.00092ZM35.55 14.8509L21 29.4009C20.4 30.0009 19.5 30.0009 18.9 29.4009L12.45 22.9509C11.1 21.6009 13.2 19.5009 14.55 20.8509L19.95 26.2509L33.45 12.7509C34.8 11.2509 36.9 13.5009 35.55 14.8509Z" fill="#6430E8"/>
                    </svg>
                </div>
            </div>
            <div class="table-cost__row">
                <div class="table-cost__text title title--pre-large title--white title--w-medium">
                    Работы программиста и верстальщика
                </div>
                <div class="table-cost__check">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 42.0009C-3.75 41.1009 -3.75 0.900916 24 0.000915527C51.75 0.900916 51.75 41.1009 24 42.0009ZM24 3.00092C0.150001 3.75092 0.150001 38.2509 24 39.0009C47.85 38.2509 47.85 3.75092 24 3.00092ZM35.55 14.8509L21 29.4009C20.4 30.0009 19.5 30.0009 18.9 29.4009L12.45 22.9509C11.1 21.6009 13.2 19.5009 14.55 20.8509L19.95 26.2509L33.45 12.7509C34.8 11.2509 36.9 13.5009 35.55 14.8509Z" fill="#6430E8"/>
                    </svg>
                </div>
            </div>
            <div class="table-cost__row">
                <div class="table-cost__text title title--pre-large title--white title--w-medium">
                    Анализ и доработка конверсии
                </div>
                <div class="table-cost__check">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 42.0009C-3.75 41.1009 -3.75 0.900916 24 0.000915527C51.75 0.900916 51.75 41.1009 24 42.0009ZM24 3.00092C0.150001 3.75092 0.150001 38.2509 24 39.0009C47.85 38.2509 47.85 3.75092 24 3.00092ZM35.55 14.8509L21 29.4009C20.4 30.0009 19.5 30.0009 18.9 29.4009L12.45 22.9509C11.1 21.6009 13.2 19.5009 14.55 20.8509L19.95 26.2509L33.45 12.7509C34.8 11.2509 36.9 13.5009 35.55 14.8509Z" fill="#6430E8"/>
                    </svg>
                </div>
            </div>
            <div class="table-cost__row">
                <div class="table-cost__text title title--pre-large title--white title--w-medium">
                    Персональный менеджер
                </div>
                <div class="table-cost__check">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 42.0009C-3.75 41.1009 -3.75 0.900916 24 0.000915527C51.75 0.900916 51.75 41.1009 24 42.0009ZM24 3.00092C0.150001 3.75092 0.150001 38.2509 24 39.0009C47.85 38.2509 47.85 3.75092 24 3.00092ZM35.55 14.8509L21 29.4009C20.4 30.0009 19.5 30.0009 18.9 29.4009L12.45 22.9509C11.1 21.6009 13.2 19.5009 14.55 20.8509L19.95 26.2509L33.45 12.7509C34.8 11.2509 36.9 13.5009 35.55 14.8509Z" fill="#6430E8"/>
                    </svg>
                </div>
            </div>
            <div class="table-cost__row">
                <div class="table-cost__text title title--pre-large title--white title--w-medium">
                    Ежемесячные отчеты
                </div>
                <div class="table-cost__check">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 42.0009C-3.75 41.1009 -3.75 0.900916 24 0.000915527C51.75 0.900916 51.75 41.1009 24 42.0009ZM24 3.00092C0.150001 3.75092 0.150001 38.2509 24 39.0009C47.85 38.2509 47.85 3.75092 24 3.00092ZM35.55 14.8509L21 29.4009C20.4 30.0009 19.5 30.0009 18.9 29.4009L12.45 22.9509C11.1 21.6009 13.2 19.5009 14.55 20.8509L19.95 26.2509L33.45 12.7509C34.8 11.2509 36.9 13.5009 35.55 14.8509Z" fill="#6430E8"/>
                    </svg>
                </div>
            </div>
            <div class="table-cost__row">
                <div class="table-cost__text title title--pre-large title--white title--w-medium">
                    KPI по проекту
                </div>
                <div
                        class="table-cost__check table-cost__check--text text text--pre-large text--white text--w-light text--uppercase">
                    позиции <span class="table-cost__plus text text--purple">+</span> трафик <span class="table-cost__plus text text--purple">+</span> лиды
                </div>
            </div>
            <div class="table-cost__row">
                <div class="table-cost__text title title--pre-large title--white title--w-medium">
                    Ключевых запросов в продвижении
                </div>
                <div class="table-cost__check text text--pre-large text--white text--w-light">
                    Неограниченно
                </div>
            </div>
            <div class="table-cost__row">
                <div class="table-cost__text title title--pre-large title--white title--w-medium">
                    Специалистов работает над проектом
                </div>
                <div class="table-cost__check text text--pre-large text--white text--w-light text--uppercase">
                    6<span class="text text--purple">+</span>
                </div>
            </div>
            <div class="table-cost__row">
                <div class="table-cost__text title title--pre-large title--white title--w-medium">
                    Стоимость за месяц
                </div>
                <div class="table-cost__check text text--pre-large text--white text--w-light">
                    от <span class="table-cost__price title title--large title--purple title--w-extra-bold">60 000
                    ₽</span>
                </div>
            </div>
            <div class="table-cost__row table-cost__row--action">
                <a href="javascript:;" class="top-page__button button button--icon" data-stc-modal="#feedback-stc">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23 12C23 18.0751 18.0751 23 12 23C10.2804 23 2 23 2 23C2 23 2 23 4.59717 20.1363C2.38713 18.1244 1 15.2242 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13 14H9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M16 10H9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Оставить заявку
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ./ Table-cost -->

{% endblock %}