/* Debug */
//.debug {
//	@include debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
//	z-index: 99999;
//}

/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

.container-right {
	--container-width: 1280px;
	--container-padding: 12px;
	padding-left: calc(
			(100% - var(--container-width)) / 2 + var(--container-padding)
	);
	margin-left: 16px;
}

.page-case-brturbo .container {
	max-width: 1280px;
}

/* Hide */

.hide {
    display: none !important;
}

.hide-large {
	@include large(display, none !important);
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--white {
        background-color: var(--color-white);
    }
    &--black-grey {
        background-color: var(--color-black-grey);
    }
	&--milk {
        background-color: var(--color-milk);
    }
	&--dark {
        background-color: var(--color-dark);
    }
}

/* Block-padding */
.b-padding-100 {
	padding: 100px 0;
	@include mobile(padding, 50px 0);
}

/* Links */

.link {
    text-decoration: none;
    transition: ease .3s;
}

.link:hover {
    color: var(--color-blue);
}