:root {
	--color-white: #FFFFFF;
	--color-violet: #7F6CE0;
	--color-purple: #6430E8;
	--color-pink: #FF00D6;
	--color-black-grey: #1c1d22;
	--color-dark: #1A1E23;
	--color-grey: #ABA7BE;
	--color-milk: #F8F8F8;
	--color-grey-back: #F6F8FD;
	--color-blue: #0a58ca;
	--color-invalid: #f30707;
    --font-primary: "Jost", "Helvetica Neue", Helvetica, Arial, sans-serif;
}