:root {
	--color-white: #FFFFFF;
	--color-violet: #7F6CE0;
	--color-purple: rgba(100, 48, 232, 1);
	--color-black-grey: #1c1d22;
	--color-dark: rgba(26, 30, 35, 1);
	--color-grey: #ABA7BE;
	--color-blue: #0a58ca;
	--color-invalid: #f30707;
    --font-primary: "Jost", "Helvetica Neue", Helvetica, Arial, sans-serif;
}