.button {
  font-family: var(--font-primary);
  font-weight: 400;
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  border-radius: 50px;
  padding: 10px 24px 12px 24px;
  border: none;
  z-index: 10;
  width: auto;
  height: auto;
  outline: var(--color-blue);
  overflow: hidden;
}

/* Button primary */
.button--primary {
  width: 100%;
  max-width: 245px;
  color: var(--color-white);
  border: 1px solid transparent;
  background-image: linear-gradient(#1c1d22, #1c1d22), linear-gradient(90deg, #8341EF 1.69%, #EB469F 102.11%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.button--primary::before {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  bottom: 0;
  left: -15px;
  opacity: 0;
  background-image: linear-gradient(91.71deg, #8341EF 3.78%, #EB469F 99.45%);
  transition: opacity .3s ease-in-out, background-image .3s ease-in-out;
  z-index: -1;
}

.button--primary:hover::before,
.button--primary:target::before,
.button--primary:active::before {
  border: 1px solid transparent;
  opacity: 1;
  color: var(--color-white);
}

.button--primary:hover,
.button--primary:target,
.button--primary:active {
  color: var(--color-white);
  background-image: linear-gradient(transparent, transparent);
}

.button--primary:disabled {
  opacity: .45;
}

/* Button primary */
.button--secondary {
  width: 100%;
  max-width: 245px;
  color: var(--color-white);
  //border: 1px solid transparent;
  background-image: linear-gradient(#1c1d22, #1c1d22), linear-gradient(90deg, #8341EF 1.69%, #EB469F 102.11%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.button--secondary::before {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  bottom: 0;
  left: -15px;
  opacity: 0;
  background-image: linear-gradient(91.71deg, #8341EF 3.78%, #EB469F 99.45%);
  transition: opacity .3s ease-in-out, background-image .3s ease-in-out;
  z-index: -1;
}

.button--secondary:hover::before,
.button--secondary:target::before,
.button--secondary:active::before {
  //border: 1px solid transparent;
  opacity: 1;
  color: var(--color-white);
}

.button--secondary:hover,
.button--secondary:target,
.button--secondary:active {
  color: var(--color-white);
  background-image: linear-gradient(transparent, transparent);
}

.button--secondary:disabled {
  opacity: .45;
}

/* Button icon */
.button.button--icon {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 16px;
  margin: 0 !important;
  padding: 16px 35px 16px 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--color-white);
  background-image: linear-gradient(91.71deg, #8341EF 3.78%, #EB469F 99.45%);
  box-shadow: 0 4px 72px rgba(54, 36, 202, 0.6);
}

.button--icon::before,
.button--icon::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity .5s ease-in-out;
}

.button--icon::before {
  opacity: 1;
  background-image: linear-gradient(91.71deg, #8341EF 3.78%, #EB469F 99.45%);
}

.button--icon::after {
  opacity: 0;
  background-image: linear-gradient(270deg, #8341EF 3.78%, #EB469F 99.45%);
}

.button--icon:hover::before {
  opacity: 0;
}

.button--icon:hover::after {
  opacity: 1;
}

/* Button Purple*/
.button.button--icon.button--purple {
  border-radius: 4px;
  height: 100%;
  background-image: linear-gradient(91.71deg, #7823EB 3.78%, #3123C7 99.45%);
  box-shadow: 0 4px 72px 0 #3624CA99;
}

.button--purple.button--icon::before {
  opacity: 1;
  background-image: linear-gradient(91.71deg, #7823EB 3.78%, #3123C7 99.45%);
}

.button--purple.button--icon::after {
  opacity: 0;
  background-image: linear-gradient(270deg, #7823EB 3.78%, #3123C7 99.45%);
}

.button--purple.button--icon:hover::before {
  opacity: 0;
}

.button--purple.button--icon:hover::after {
  opacity: 1;
}