.social__footer {
	flex-wrap: wrap;
	row-gap: 30px;
}

.social__footer-mobile a {
	@include mobile-block {
		&:nth-child(2) {
			margin-right: 20px !important;
		}

		&:nth-child(3) {
			margin-right: 0;
		}
	}
}
