.form-page {
  position: relative;
  padding: 80px 0;
  background: linear-gradient(90deg, rgba(127,108,224,1) 50%, rgba(246,248,253,1) 50%);
  @include mobileXS-block {
    background: transparent;
    padding: 0;
  }
}

.form-page__body {
  display: flex;
  flex-wrap: wrap;
  @include mobileXS-block {
    flex-direction: column;
    //margin-left: -10px;
    //margin-right: -10px;
    padding: 0;
  }
}

.form-page__col {
  flex: 0 0 auto;
  width: 50%;
  @include mobileXS-block {
    width: 100%;
  }
}

.form-page__col--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mobileXS-block {
    background: #7F6CE0;
    padding: 55px 12px 55px;
  }
}

.form-page__col-right {
  @include mobileXS-block {
    background: #F6F8FD;
  }
}

.form-page__heading {
  @include mobileXS-block {
    font-size: 28px;
  }
}

.form-page__subtitle {
  opacity: .8;
  margin-top: 16px;
  @include mobileXS-block {
    font-weight: 400;
  }
}

.form-page__contacts {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mobileXS-block {
    margin-top: 20px;
  }
}

.form-page__link {
  @include mobileXS-block {
    font-size: 24px;
  }
}

.form-page__link--tg {
  padding-right: 70px;
  @include mobileXS-block {
    padding-right: 0;
  }
}

.form-page__link--tg svg {
  display: block;
  @include mobileXS-block {
    width: 45px;
    height: 45px;
  }
}

.form-page__form {
  padding-left: 60px;
  @include mobileXS-block {
    margin-top: 0;
    padding: 40px 12px 60px;
  }
}

.form-page__field--email {
  margin-top: 10px;
}

.form-page.form-page--case {
  background: transparent;
}

/* Form-page-case */
.form-page.form-page--case {
  position: relative;
  padding: 0 0 80px;
  @include mobile-block {
    padding: 25px 0;
  }
}

.form-page.form-page--case .form-page__col--left {
  @include mobile-block {
    background: transparent;
    padding: 0 10px;
  }
}

.form-page.form-page--case .form-page__form {
  @include mobile-block {
    margin-top: 25px;
    padding: 0 10px;
  }
}

.form-page.form-page--case::before,
.form-page.form-page--case::after {
  content: '';
  height: 3px;
  position: absolute;
  right: 0;
  width: 55%;
  @include mobile-block {
    width: 100%;
  }
}

.form-page.form-page--case::before {
  top: 0;
  right: 0;
  background-image: linear-gradient(270deg, #FF00D6 0%, #000CFF 100%);
}

.form-page.form-page--case::after {
  bottom: 0;
  left: 0;
  background-image: linear-gradient(270deg, #FF00D6 0%, #000CFF 100%);
}

.form-page.form-page--case .form-page__col-right {
  padding-top: 100px;
  background: transparent;
  @include mobile-block {
    padding-top: 0;
  }
}

.form-page.form-page--case .form-page__heading {
  font-size: 86px;
  line-height: 1;
  @include mobile-block {
    font-size: 40px;
  }
}

.form-page.form-page--case .form-page__subtitle {
  font-size: 26px;
  @include mobile-block {
    font-size: 18px;
  }
}

.form-page.form-page--case .form-page__contacts {
  position: relative;
  width: max-content;
  @include mobile-block {
    margin-top: 45px;
  }
}

.form-page.form-page--case .form-page__contacts .form-page__link--tg {
  position: absolute;
  top: -20px;
  right: -60px;
  @include mobile-block {
    top: -15px;
    right: -40px;
    width: 26px;
    height: 21px;
  }
}

.form-page.form-page--case .form-page__link--tg svg {
  @include mobile-block {
    width: 26px;
    height: 21px;
  }
}

.form-page.form-page--case .form-page__contacts .form-page__link {
  font-size: 50px;
  padding-right: 0;
  line-height: 1;
  @include mobile-block {
    font-size: 28px;
  }
}

.form-page.form-page--case .form-page__footer {
  flex-direction: column-reverse;
  align-items: stretch;
}

.form-page.form-page--case .form-page__wrap-policy {
  @include mobile-block {
    order: -1;
  }
}

.form-page.form-page--case .form-page__policy {
  color: var(--color-white);
  @include mobile-block {
    font-size: 14px;
  }
}

.form-page.form-page--case .form-page__link-policy {
  color: var(--color-pink);
  @include mobile-block {
    font-size: 14px;
  }
}

.form-page.form-page--case .form-page__btn {
  width: 100%;
  justify-content: center;
}

.form-page.form-page--case .form-page__input {
  color: var(--color-white);
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #D9D9D9;
  border-radius: 0;
  padding: 11px 30px;
}

.form-page.form-page--case .form-page__input::placeholder {
  color: var(--color-white);
  opacity: .8;
}

.form-page.form-page--case .form-page__input:focus,
.form-page.form-page--case .form-page__input:target,
.form-page.form-page--case .form-page__input:active {
  border-bottom: 1px solid var(--color-pink);
}


.form-page.form-page--case .form-page__field--email,
.form-page.form-page--case .form-page__field--message {
  margin-top: 40px;
  @include mobile-block {
    margin-top: 20px;
  }
}

.form-page.form-page--case .form-page__input--textarea {
  margin-top: 0;
  max-height: 40px;
  overflow-y: hidden;
  @include mobile-block {
    max-height: 56px;
  }
}

.form-page.form-page--case .form-page__wrapper-line {
  gap: 20px;
}

.form-page.form-page--case .wpcf7-response-output {
  display: none !important;
}