.header__socials {
	display: flex;
	align-items: center;
	column-gap: 29px;

	@include mobile-block {
		display: none;
	}

	@include tabletSM-block {
		margin-right: 20px;
	}
}

.social__header-mobile a {
	@include mobile-block {
		&:nth-child(2) {
			margin-right: 40px !important;
		}

		&:nth-child(3) {
			margin-right: 0;
		}
	}
}
