.reviews {
  position: relative;
  padding: 125px 0 70px;
}

.reviews__heading {
  margin-top: 57px;
}

.reviews__decor-bands {
  position: absolute;
  right: 98px;
  top: 153px;
}

.reviews__decor-ball {
  position: absolute;
  border-radius: 50%;
  font-size: 450px;
  height: 1em;
  width: 1em;
  filter: blur(80px);
}

.reviews__decor-ball--one {
  background: linear-gradient(188.04deg, #8B3DF5 14.41%, #006FFF 90.78%);
  left: -14%;
  top: 27px;
  opacity: .13;
  animation: blur-ball 21s ease-in-out infinite alternate backwards;
}

.reviews__decor-ball--two {
  background: linear-gradient(107.92deg, #8B3DF5 20.59%, #0063E6 58.02%);
  right: -4%;
  top: 111px;
  opacity: .18;
  animation: blur-ball 18s ease-in-out infinite alternate backwards;
}

.reviews__items {
  margin-top: 53px;
}

.reviews__item {
  position: relative;
  padding: 70px 30px 70px 146px;
  border-radius: 16px 0 0 16px;
  overflow: hidden;
  display: flex;
  grid-gap: 72px;
}

.reviews__item-header,
.reviews__item-inner,
.reviews__item-footer {
  position: relative;
  z-index: 10;
}

.reviews__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 326px;
  z-index: 1;
  background: linear-gradient(91.71deg, #7823EB 3.78%, #3123C7 99.45%);
}

.reviews__item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(26, 30, 35, 1);
  border: 1px solid rgba(51, 51, 51, 1);
  border-radius: 0 16px 16px 0;
  z-index: 0;
}

.reviews__item-decor {
  position: absolute;
  background: url('../img/reviews/item-decor.svg');
  width: 141px;
  height: 79px;
  left: 30%;
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.reviews__item-title {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, #FF7FEA 1.66%, #7077FF 101.45%);
  border-image-slice: 1;
}

.reviews__item-subtitle {
  margin-top: 10px;
}

.reviews__item-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 17px;
  position: absolute;
  bottom: 41px;
  right: 30px;
}

.reviews__read {
  text-decoration: none;
}