.search-promotion__heading {
  position: relative;
}

.search-promotion__heading::before {
  content: attr(data-num);
  position: absolute;
  font-size: 200px;
  line-height: 236px;
  font-weight: bold;
  background: linear-gradient(180deg, #FF00D6 0%, #000CFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: -150px;
  top: 25%;
  transform: translateY(-50%);
}

.search-promotion__heading--bottom::before {
  left: -170px;
}

.search-promotion__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  grid-auto-rows: 1fr;
  gap: 50px 20px;
  margin-bottom: 90px;
  @include mobile(margin-bottom, 50px);
  @include mobile-block {
    margin-bottom: 50px;
    gap: 25px;
  }
  @include mobileXS-block {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.search-promotion__item {
  position: relative;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border: 2px solid #333333;
  padding: 95px 50px 42px;
  @include mobile-block {
    padding: 50px 15px 12px;
  }
}

.search-promotion__item::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  height: 50px;
  border-radius: 16px 16px 0 0;
  background: linear-gradient(91.71deg, #7823EB 3.78%, #3123C7 99.45%);
  @include mobile(height, 29px);
}

.search-promotion__title {
  position: relative;
  display: inline-block;
  margin-bottom: 26px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, #FF7FEA 1.66%, #7077FF 101.45%);
  border-image-slice: 1;
}

.search-promotion__title::before {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: -5px;
  z-index: 0;
  background: linear-gradient(90deg, #FF00D6 1.66%, #000CFF 101.45%);;
  filter: blur(8px);
}

.search-promotion__bottom-items {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  @include tabletSM-block {
    flex-wrap: wrap;
  }
}

.search-promotion__fit {
  width: 100%;
}

.search-promotion__title-fit {
  margin-bottom: 20px;
}