.table-cost {
  background-image: url("../img/bg/table-cost-bg-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--color-dark);
}

.table-cost__table {
  border: 1px solid #333333;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

.table-cost__row  {
  display: grid;
  grid-template-columns: auto 287px;
  align-items: center;
  padding: 24px 34px 30px 64px;
  @include mobileXS-block {
    grid-template-columns: 151px 124px;
    justify-content: space-between;
    padding: 24px 18px 24px 26px;
  }
}

.table-cost__row:first-child {
  padding: 50px 34px 30px 64px;
  @include mobileXS-block {
    padding: 24px 18px 24px 26px;
  }
}

.table-cost__row:last-child {
  padding: 50px 34px;
  @include mobileXS-block {
    padding: 40px 26px;
  }
}

.table-cost__row.table-cost__row--action {
  display: flex;
  justify-content: center;
}

.table-cost__row + .table-cost__row {
  border-top: 1px solid #333333;
}

.table-cost__text {
  @include mobileXS-block {
    font-size: 18px;
  }
}

.table-cost__check {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.table-cost__check svg {
  display: block;
  @include mobile-block {
    width: 28px;
    height: 28px;
  }
}

.table-cost__check--text {
  font-size: 16px;
}

.table-cost__price {
  margin-left: 10px;
}

.table-cost__plus {
  margin: 0 5px;
}