.trip-form {
  max-width: 100%;
  margin: 40px 0 0;
}

.trip-form__wrapper-line {
  gap: 20px;
  @include large-block {
    flex-wrap: wrap;
  }
}

.trip-form__field {
  @include large-block {
    max-width: 48%;
  }
  @include tabletSM(max-width, 100%);
}

.trip-form__input {
  padding: 19px 30px 20px;
  height: auto;
}

.trip-form__actions {
  width: 100%;
}

.trip-form__btn.button {
  max-width: 265px;
  padding: 20px 32px;
  @include mobileXS-block {
    max-width: 100%;
    justify-content: center;
  }
}

.trip-form__footer {
  margin-top: 10px;
}

.trip-form__policy,
.trip-form__link-policy {
  color: #818181;
}