<!-- Form Page-->
<section class="form-page">
    <div class="form-page__body container">
        <div class="form-page__col form-page__col--left">
            <div class="form-page__info">
                <h3 class="form-page__heading title title--big title--white title--w-extra-bold">
                    Обсудим ваш проект
                </h3>
                <p class="form-page__subtitle text text--large text--white text--w-semi-bold">
                    Расскажите о задачах и задайте вопросы — <br>мы перезвоним в течение рабочего дня
                </p>
            </div>
            <div class="form-page__contacts">
                <a href="tel:8 (800) 500-98-49" class="form-page__link link title title--large title--white title--w-extra-bold">
                    8 (800) 500-98-49
                </a>
                <a href="https://t.me/saitcraft_ru" class="form-page__link form-page__link--tg link">
                    <svg width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M42.8125 4.28125C43.375 1.65625 41.875 0.625 40.1875 1.28125L2.875 15.625C0.34375 16.6562 0.4375 18.0625 2.5 18.7188L11.9688 21.625L34.0938 7.75C35.125 7 36.1562 7.46875 35.3125 8.125L17.4062 24.25L16.75 34.0938C17.7812 34.0938 18.1562 33.7188 18.7188 33.1562L23.3125 28.6562L32.9688 35.7812C34.75 36.8125 36.0625 36.25 36.5312 34.1875L42.8125 4.28125Z"
                                fill="white"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="form-page__col form-page__col-right">
            <div class="form-page__inner">
                <form action="php/form-send" class="form-page__form wpcf7-form init" method="post">
                    <div class="form-page__wrapper-line">
                        <div class="form-page__field">
                            <input type="text" class="form-page__input" placeholder="Имя">
                        </div>
                        <div class="form-page__field form-page__field--required">
                            <input type="tel" class="form-page__input js-phone-mask"
                                   placeholder="Телефон">
                        </div>
                    </div>
                    <div class="form-page__field form-page__field--email">
                        <input type="email" class="form-page__input" placeholder="E-mail">
                    </div>
                    <div class="form-page__field">
                        <textarea name="textarea-728" cols="40" rows="10" class="form-page__input form-page__input--textarea" placeholder="Расскажите о целях, задачах, сроках и бюджете проекта."></textarea>
                    </div>
                    <div class="form-page__field form-page__field--file">
                        <label for="stc-file" class="form-page__fake-file js-modal-fake-file">
                            <input id="stc-file" type="file" class="form-page__input form-page__input--file">
                            <svg class="form-page__fake-file-svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M17 18C17 18.5523 17.4477 19 18 19C18.5523 19 19 18.5523 19 18H17ZM9 18C9 18.5523 9.44772 19 10 19C10.5523 19 11 18.5523 11 18H9ZM19 18V7H17V18H19ZM5 7V19H7V7H5ZM15 19V9H13V19H15ZM9 9V18H11V9H9ZM12 6C10.3431 6 9 7.34315 9 9H11C11 8.44772 11.4477 8 12 8V6ZM15 9C15 7.34315 13.6569 6 12 6V8C12.5523 8 13 8.44772 13 9H15ZM10 24C12.7614 24 15 21.7614 15 19H13C13 20.6569 11.6569 22 10 22V24ZM5 19C5 21.7614 7.23858 24 10 24V22C8.34315 22 7 20.6569 7 19H5ZM12 0C8.13401 0 5 3.13401 5 7H7C7 4.23858 9.23858 2 12 2V0ZM19 7C19 3.13401 15.866 0 12 0V2C14.7614 2 17 4.23858 17 7H19Z" fill="#6430E8"></path>
                            </svg>
                            <span class="form-page__file-btn title title--tiny title--dark title--w-regular">
                                Прикрепить файл
                            </span>
                            <span class="form-page__filename js-filename filename title title--tiny title--dark title--w-regular"></span>
                        </label>
                    </div>
                    <div class="form-page__footer">
                        <div class="form-page__wrap-policy">
                            <div class="form-page__policy text text--small text--dark text--w-medium">
                                Нажимая на кнопку, вы соглашаетесь с правилами <br> обработки
                            </div>
                            <a href="https://saitcraft.ru/privacy-policy/"
                               class="form-page__link-policy text text--small text--w-medium" target="_blank">
                                персональных данных
                            </a>
                        </div>
                        <div class="form-page__actions">
                            <button type="submit" value="Оставить заявку" class="form-page__btn button button--icon">
                                Отправить
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.33036 4.4338L3.00049 10L15.0005 12L3.00049 13L1.1772 19.6843C0.72225 21.3522 2.45482 22.7726 4.00112 21.9995L20.4227 13.7889C21.8968 13.0518 21.8968 10.9482 20.4227 10.2111L4.1404 2.07016C2.57266 1.2863 0.826623 2.75496 1.33036 4.4338Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Form Page-->