<!-- Form Phone -->
<section class="form-phone">
    <div class="form-phone__body container">
        <div class="form-phone__outer">
            <div class="form-phone__info">
                <h3 class="form-phone__heading title title--pre-large title--dark title--w-semi-bold center">
                    Помочь с выбором
                </h3>
                <p class="form-phone__subtitle text text--large text--dark text--w-semi-bold center">
                    Оставьте номер и мы перезвоним вам в течение 1 часа
                </p>
            </div>
            <div class="form-phone__wrapper">
                <form action="php/form-send.php" class="form-phone__form">
                    <div class="form-phone__wrapper-line">
                        <div class="form-phone__field form-phone__field--required">
                            <input type="tel" class="form-phone__input js-phone-mask" placeholder="Телефон">
                        </div>
                        <div class="form-phone__actions">
                            <button type="submit" value="Оставить заявку"
                                    class="form-phone__btn button button--secondary button--icon button--purple">
                                Отправить
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.33036 4.4338L3.00049 10L15.0005 12L3.00049 13L1.1772 19.6843C0.72225 21.3522 2.45482 22.7726 4.00112 21.9995L20.4227 13.7889C21.8968 13.0518 21.8968 10.9482 20.4227 10.2111L4.1404 2.07016C2.57266 1.2863 0.826623 2.75496 1.33036 4.4338Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /. Form Phone -->