@charset "UTF-8";
@import "./base/smart-grid";
/* Fonts */
@import "./base/font";
/* Variables */
@import "./base/variables";
/* Base */
@import "./base/base";
/* Animation */
@import "./base/animation";
/* Base Classes */
@import "./base/classes";

/* ANOTHER MODULES */

/* Swiper Slider Examples*/
// @import "./blocks/swiper/swiper";
/* BelingoGeo*/
 @import "./blocks/belingogeo";
/* Hyst Modal*/
 @import "./blocks/hystmodal";

/* ANOTHER MODULES */

/* Blocks */
/* Page */
@import "./blocks/page";
/* Reviews */
@import "./blocks/reviews";
/* Fancybox */
@import "./blocks/fancybox";
/* Button */
@import "./blocks/button";
/* Pagination */
@import "./blocks/pagination";
/* Modals */
//@import "./blocks/modals";
/* Form page */
//@import "./blocks/form-page";
/* Form phone */
//@import "./blocks/form-phone";

/* Other Style*/
form.modal__form button svg {
 margin: 0;
}

input.modal__input {
 margin-bottom: 0;
}

form.modal__form textarea,
form.form-page__form textarea {
 height: auto;
 margin-bottom: 0;
}

.form-phone form input {
 margin-bottom: 0;
}

/* MEDIA QUERIES */