@charset "UTF-8";
@import './base/smart-grid';
/* Fonts */
@import './base/font';
/* Variables */
@import './base/variables';
/* Base */
@import './base/base';
/* Animation */
@import './base/animation';
/* Base Classes */
@import './base/classes';
/* Titles */
@import './base/titles';
/* Text */
@import './base/text';

/* ANOTHER MODULES */

/* Swiper Slider Examples*/
// @import "./blocks/swiper/swiper";
/* BelingoGeo*/
@import './blocks/belingogeo';
/* Hyst Modal*/
@import './blocks/hystmodal';
/* Splide */
@import './blocks/splide';

/* ANOTHER MODULES */

/* Blocks */
/* Page */
@import './blocks/page';
/* Reviews */
@import './blocks/reviews';
/* Fancybox */
@import './blocks/fancybox';
/* Button */
@import './blocks/button';
/* Pagination */
@import './blocks/pagination';
/* Modals */
@import './blocks/modals';
/* Form page */
@import './blocks/form-page';
/* Form phone */
@import './blocks/form-phone';
/* Form-loader */
@import './blocks/form-loader';
/* Form-header */
@import './blocks/header';
/* Form-footer */
@import './blocks/footer';
/* Top-page */
@import './blocks/top-page';
/* Situation */
@import './blocks/situation';
/* Quote */
@import './blocks/quote';
/* Trust */
@import './blocks/trust';
/* Job */
@import './blocks/job';
/* Experts */
@import './blocks/experts';
/* About-agency */
@import './blocks/about-agency';
/* Cases */
@import './blocks/cases';
/* Compare */
@import './blocks/compare';
/* Trip */
@import './blocks/trip';
/* Trip-form */
@import './blocks/trip-form';
/* Blog */
@import './blocks/blog';
/* Blog-post */
@import './blocks/blog-post';
/* Search-promotion */
@import './blocks/search-promotion';
/* Table-cost */
@import './blocks/table-cost';
/* Case-top */
@import './blocks/case-top';
/* Case-about */
@import './blocks/case-about';
/* Case-container */
@import './blocks/case-container';
/* Case-decor */
@import './blocks/case-decor';
/* Slider-nav */
@import './blocks/slider-nav';

@import './blocks/context';

form.modal__form button svg {
	margin: 0;
}

input.modal__input {
	margin-bottom: 0;
}

form.modal__form textarea,
form.form-page__form textarea {
	height: auto;
	margin-bottom: 0;
}

.form-phone form input {
	margin-bottom: 0;
}

.modal-backdrop.show {
	opacity: 0;
}

.modal-backdrop {
	z-index: 0;
}

form.form-page__form button svg {
	margin-left: 0;
}

.btn__wrap {
	gap: 40px;
}

.card__consult {
	max-width: 450px;
}

.usluga__banner {
	padding-bottom: 50px;
	height: 100vh;
	@include mobile(height, auto);
}

.button.button__cases {
	max-width: 199px;
	padding: 16px 30px;
	@include mobile-block {
		max-width: 100%;
		justify-content: center;
	}
}

.vacancy__banner {
	padding-bottom: 50px;
}

.os-cards {
	display: flex;
	@include mobileXS-block {
		flex-wrap: wrap;
		gap: 20px;
	}
}

.qa-elem {
	padding: 40px 35px 40px 20px;
}

.qa-elem:before,
.qa-elem:after {
	height: 20px;
}

.type_ad .selector .chose-tab {
	font-size: 16px;
}

/* MEDIA QUERIES */

.consulting__first-back {
	@include mobileXS-block {
		background-image: none;
		height: 500px;
	}
}

.subtext_colored {
	@include mobileXS-block {
		font-size: 32px;
	}
}

.about__section .team-circle {
	@include mobile-block {
		margin-top: 100px;
	}
}

.bigplus__text {
	@include mobile-block {
		margin-bottom: 50px;
	}
}

.webinar__card-title {
	@include mobile-block {
		margin-bottom: 50px;
	}
}

.webinar__card-meta {
	@include mobile-block {
		margin-top: 50px;
	}
}
